# Node modules
node_modules/

# Build output
/dist/
/build/

# Environment variables

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Debug
*.log

# Optional npm cache directory
.npm

# Coverage directory (if usas Jest u otra herramienta)
coverage/
